{% load static %}

<!DOCTYPE html>
<html lang="pt">

<head>
    <title>Agenda</title>
    {% include 'partials/_head.html' %}

</head>

<body>

  {% include 'partials/_nav.html' %}

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>