{% extends 'base.html' %}

{% block content %}

<h1 class="mt-5">Minha agenda</h1>

        <table class="table">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Sobrenome</th>
              <th>Telefone</th>
              <th>Categoria</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a href="#"> João</a>
              </td>
              <td>Miranda</td>
              <td>35 9 5555-5555</td>
              <td>Família</td>
            </tr>
            <tr>
              <td>
                <a href="#"> Leandro</a>
              </td>
              <td>Moreira</td>
              <td>35 9 8888-5555</td>
              <td>Família</td>
            </tr>
            <tr>
              <td>
                <a href="#"> Fátima</a>
              </td>
              <td>Oliveira</td>
              <td>35 9 9999-4352</td>
              <td>Conhecidos</td>
            </tr>
          </tbody>
        </table>

{% endblock %}